.container-item {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    float: left;
    margin: 5px;
}

.container-child {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.contenido {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contenido div {
    text-align: center;
    padding: 5px;
    margin: px;
}

.add {
    background-color: rgb(23, 230, 23);
}

.title {
    background-color: rgb(28, 141, 240);
}

.crema {
    background-color: rgb(216, 245, 51);
}

.drop {
    background-color: rgb(228, 52, 29);
}