body {
  background: #333;
  font-size: 10pt;
}
#bfet-nav {
  position: relative;
  width: 200px;
}

/* Set up border-box */
#bfet-nav * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*  */
#bfet-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #55493d;
  width: 200px;
  border-radius: 4px;
}

#bfet-nav li {
  position: relative;
  border-bottom: 1px solid #333;
  background: #111;
  color: #fff;
  padding: 5px;
  margin: 0;
}
/* Child menus - This is where the magic happens */
/* Selects only ul's that have a parent of li. That way this only effects children menus */
#bfet-nav li > ul,
#bfet-nav li > .img {
  position: absolute;
  left: -9999px;
  transition: opacity 1s ease;
  opacity: 0;
  top: -1px;
  z-index: 99;
}
#bfet-nav .img {
  width: 200px;
}
/* Selects only ul's where the parent li is hovered */
#bfet-nav li:hover > ul {
  left: 196px;
  opacity: 1;
}
#bfet-nav li:hover > .img {
  left: 150px;
  top: -50px;
  opacity: 1;
}

#bfet-nav a {
  display: block;
  text-decoration: none;
  font-family: Verdana;
  font-size: 0.8em;
  color: #ee8800;
}

/* I couldn't find a font that I could use for the '>', nor did I want to use an image.. so I improvised */
#bfet-nav a span {
  float: right;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 2px solid #ee8800;
  border-right: 2px solid #ee8800;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); /* For Chrome */
  margin-top: 3px;
}

/* This select retains the style down the chain */
#bfet-nav li:hover > a {
  color: #fff6d5;
}

#bfet-nav li:hover > a span {
  border-top: 2px solid #fff6d5;
  border-right: 2px solid #fff6d5;
}

#bfet-nav li:hover {
  background: #222;
}

/**************/
.side {
  width: 210px;
  float: left;
}

.main {
  margin-left: 210px;
  width: 600px;
}
.main h1 {
  margin-top: 0;
  color: #996633;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}
.main p {
  color: #cccccc;
  font-size: 14px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  background: #555;
  background: linear-gradient(#555, #333);
  background: -moz-linear-gradient(#555, #333);
}
